

<nav class="navbar fixed-top navbar-expand-lg  teal">
  <a class="navbar-brand">
    <img src="../../assets/images/Forex Logo.svg" width="33" height="33" class="d-inline-block align-top" alt="">
    &nbsp;
    <img src="../../assets/images/Forex Type.svg" width="140" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-white" href="login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="register">Signup</a>
      </li>
    </ul>
  </div>
</nav>
<!--
  <video autoplay muted loop id="myVideo">
  <source src="assets\video1.mp4" type="video/mp4">
</video> -->
<br><br><br><br><br><br>
<div class = "d-flex justify-content-center">
  <img src="../../assets/images/Forex Dev0.svg" width="450" height="333" class="d-inline-block align-top responsive" alt="">
</div><br><br><br><br>
  <footer class="page-footer font-small teal">
   <div class="footer-copyright text-center py-3 text-white">
      <a class="text-white float-center" href="https://github.com/abhijeet1997/ForexNettingSystem"> Forex Netting System</a>
   </div>
  </footer>
  <!-- Footer content -->
