<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="hbm2ddl.auto">validate</property>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.password">dbs123</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/forex</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <mapping class="com.models.Role"/>
        <mapping class="com.models.Permission"/>
        <mapping class="com.models.CurrencyPair"/>
        <mapping class="com.models.CurrencyPairPrice"/>
        <mapping class="com.models.Order"/>
        <mapping class="com.models.User"/>
        <mapping class="com.models.OrderMapping"/>
    </session-factory>
</hibernate-configuration>
