<!-- Currency Pair Prices Component showing top 8 currency pairs-->
<div class="">
  <table class="table text-center">
    <thead>
      <tr>
          <th scope="col">CurrencyPair</th>
          <th scope="col">Selling Price</th>
          <th scope="col">Buying Price</th>
      </tr>
    </thead>
    <!-- Iterate through currencyPairPrices list after checking response-->
    <tbody *ngIf= "response != undefined && response != null">
      <tr  scope="row" *ngFor="let currency_pair_price of response.currency_pair_prices" class="">
        <td>{{currency_pair_price.currencyPair.name}}</td>
        <td>{{currency_pair_price.sellingPrice}}</td>
        <td>{{currency_pair_price.buying_price}}</td>
      </tr>
    </tbody>
  </table>
</div>